.order{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.cart{
    width: 400px;
}


.hot-coffee-1{
    flex: 1;
    background-color: rgb(46, 46, 46);
    color: aliceblue;
    border-radius: 10px;
    border-color: aliceblue;
    border-width: 2px;
    border-style: solid;
    box-shadow: 0 1px 5px rgba(49, 49, 49, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    gap: 15px;
    width: 700px;
    height: 100px;
    cursor: pointer;
    
}

.image-coffee{
    width: 100px;
  
}

.scrollbar {
    height: 500px;
    width: 710px;
    border: 2px;
    border-style: dotted;
    border-color: black;
    overflow-x: hidden;
    overflow-y: scroll;

}

.order-total{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    gap: 15px;
}

.confirmation-btn{
    display: flex;
    flex-direction: column;
    
}

.cart-summary{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

#paymentRequirements{
     margin-top: 12px;
}



    /* for mobile responsiveness*/
@media (max-width: 900px) {
    .order{
        flex-direction: column;
        align-items: center;
        width: 450px;
    }

    .hot-coffee-1, .scrollbar{
        width: 400px;

    }
   
}





